<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li> <a class="navbar-brand" href="{% url 'index' %}">Brand</a> </li>
                <li> <a class="navbar-link" href="{% url 'admin:index' %}">Admin</a> </li>
                <li> <a class="navbar-link" href="{% url 'basic_app:other' %}">Other</a> </li>
            </ul>
        </div>

    </nav>

    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>

</body>
</html>