<!doctype html>
{% extends "basic_app/base.html" %}
    {% block body_block %}

        <h1>Welcome to the home page.</h1>
        <h2>Example</h2>
        <h1>
            {{ text|cut:'world' }}
        </h1>
        <h1>
            {{ number|add:"99"}}
        </h1>

    {% endblock %}