.techfont{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.bigbrand{
    font-size: 1.5em;
}
.centerstage{
    margin-left: auto;
    margin-right: auto;
}
.loader {
  filter:hue-rotate(0deg);
  color:linear-gradient(45deg,#0f8,#08f);
  animation:hue 1000ms infinite linear;

}

.postdate{
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 3em;
    margin-bottom: 10px;
}

.btn-comment{
position: absolute;
right: 0px;
}

.posttitile{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.5em;
}
@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}