<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}" class="navbar-brand">Django</a></li>
                <li><a href="{% url 'admin:index' %}" class="navbar-link">Admin</a></li>

                <li><a href="{% url 'basic_app:register' %}" class="navbar-link">Register</a></li>

                {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" class="navbar-link">Logout</a></li>
                {% else %}
                        <li><a href="{% url 'basic_app:user_login' %}" class="navbar-link">Login</a></li>

                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block bodyblock %}

        {% endblock %}
    </div>
</body>
</html>