{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block bodyblock%}
    <div class="jumbotron">
        <h1>please login</h1>
        <form class="{% url 'basic_app:user_login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="enter username">

            <label for="password">Password: </label>
            <input type="password" name="password">

            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}