{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block bodyblock%}
    <div class="jumbotron">
        {% if registered %}
            <h1>Thank You for registering!</h1>
        {% else %}
            <h1>Register Here!</h1>
            <h3>Fill out the form:</h3>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <input type="submit" value="Register">
            </form>
        {% endif %}

    </div>
{% endblock %}