{% extends 'blog/base.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <p>Are you sure to want to delete {{ object }}?</p>
    <input type="submit" class="btn btn-danger" name="" id="" value="Confirm">
</form>
{% endblock %}