<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    <h1>Here are the users: </h1>
    {% if users %}
        <ol>
            {% for person in users %}
                <li>User Info</li>
                <ul>
                    <li>First Name: {{ person.first_name }}</li>
                    <li>Last Name: {{ person.last_name }}</li>
                    <li>Email: {{ person.email }}</li>
                </ul>
            {% endfor %}
        </ol>
    {% endif %}
</body>
</html>