<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav">
            <li><a class='navbar-brand' href="{% url 'basic_app:list' %}">Schools</a></li>
            <li><a class='navbar-link' href="{% url 'admin:index' %}">Admin</a></li>
            <li><a class='navbar-link' href="#"></a></li>
        </ul>
    </nav>
    <div class="container">
        {% block body_block %}

        {% endblock %}
    </div>


</body>
</html>