{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}
    <div class="jumbotron">
        <h1>Welcome to the School Detail Page</h1>
        <h2>School Details</h2>
        <p>Name:      {{ school_detail.name }} </p>
        <p>Principal: {{ school_detail.principal }} </p>
        <p>Location:  {{ school_detail.location }} </p>

        <h3>Students: </h3>
        {% for student in school_detail.students.all %}
        <p> {{student.name}} who is {{student.age}} years old.</p>
        {% endfor %}
    </div>
    <div class="container">
        <p>
            <a href="{% url 'basic_app:update' pk=school_detail.pk %}" class="btn btn-warning">Update</a>
            <a href="{% url 'basic_app:delete' pk=school_detail.pk %}" class="btn btn-warning">Delete</a>

        </p>
    </div>

{% endblock %}