{% extends 'posts/post_base.html' %}
{% load bootstrap3 %}
{% block post_content %}
    <h4>Create a new post</h4>
    <form action="{% url 'posts:create' %}" id='postForm' method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Post" class="btn btn-primary btn-large">

    </form>
{% endblock %}