{% extends 'groups/group_base.html' %}
{% load bootstrap3 %}
{% block group_content %}
    <h4>Create a new group</h4>
    <form action="{% url 'groups:create' %}" method="post" id="groupForm">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Create" class="btn btn-primary btn-large">
    </form>
{% endblock %}